/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#Block
{
  background-color: #d7ccc8;
}

.mainPhoto
{
  padding-top: 10px;
  width: 100%;
  height: 100%;
  align-self: center;
  padding-right: 10px;
  padding-left: 10px;
}

.photoApacia
{
  width: 100%;
  padding-bottom: 10px;
}

.poApacia
{
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
}

.photoCenter
{
  height: 250px;
}

.sameSize
{
  height: 315px;
}

.fonas
{
  background-image: url(GediminoFonas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.lol
{
  padding-left: 30px;
}

.carousel .carousel-item {
width:60% !important;
height:auto !important;
}

.tabs .tab a {
  color: #3e2723;
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: #6d4c41;
}

.seselis {
    text-shadow: 4px 4px 2px #8d6e63;
}

.spal {
  color: #3e2723;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #3e2723;
  text-shadow: 1px 1px 1px #795548;
  }

  .light
  {
    font-weight: bold;
  }

.infoSaltinis
{
  font-style: italic;
}

.caruselstyle
{
  max-width: 300px;
  max-height: 200px;
}
.caruseltxt
{
text-align: center;
}

